.footer{
    margin-top: 40px;
    &__header{
        padding-bottom: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        &_wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
    }
    &__logo{
        width: 265px;
        height: 93px;
        background: url('../icons/footer/logo_footer.svg') center center/100% no-repeat;

    }
    &__social{

        &__location{
            display: none;
        }
        &__menu{
            width: 415px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__btns{
        &_online,
        &_record{
            border: none;
            border-radius: 50px;
            padding: 12px;
            width: 267px;
            height: 50px;
            color:#000;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        &_online{
            margin-right: 25px;
            background: linear-gradient(90.00deg, rgba(56, 112, 255, 0.5) 2.8%,rgb(248, 169, 177) 100%);
        }
        &_record{
            background: linear-gradient(90.00deg, rgb(231, 135, 181) 2.8%,rgb(248, 169, 177) 100%);
        }
    }
    &__location{
        padding: 35px 0;
        &_wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        &__adress{
            column-count: 2;
            column-gap: 100px;
            &_item{
                display: flex;
                flex-direction: column;
                margin-bottom: 35px;
                :last-child{
                    margin-bottom: 0;
                }
                & span,
                & a{
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 24px;
                }
                & span{
                    color: rgb(76, 76, 76);

                }
            }

        }
        &__map{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 846px;
            height: 360px;
            border-radius: 50px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
            background: linear-gradient(90.57deg, rgb(216, 225, 249) 0.032%,rgb(217, 183, 176) 99.963%);
            text-align: center;
            font-size: 50px;
            font-weight: 300;
            line-height: 61px;
        }
    }
    &__nav{

        padding: 18px 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background: rgb(251, 249, 251);
        margin-bottom: 50px;
        &__menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_item,
            &_link{
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;

            }
        }
    }
    
}

@media (max-width:1440px){
   .footer{
        &__header,
        &__location,
        &__nav{
            &_wrap{
                width: 90%;
            }

        }
   }
}
@media (max-width:1690px){
   .footer{
        &__location{
            &__map{
                width: 761px;
                height: 324px;
            }
        }
   }
}
@media (max-width:1600px){
   .footer{
    position: relative;
        &__header,
        &__location,
        &__nav{
            &_wrap{
                width: 88%;
            }
        }
        &__social{
            &__header{
                display: none;
            }
            &__location{
                display: block;
                margin: 0 auto;

            }
            &__menu{
                width: 88%;
                margin: 0 auto;
            }

        }
        &__location{
            padding: 10px 0;
            &__adress{
                column-count: 1;
                column-gap: 0;
            }
            &__map{
                border-radius: 45px;
            }
        }
   }
}
@media (max-width:1200px){
   .footer{
        &__logo{
            width: 198.75px;
            height: 69.75px;
        }
        &__btns{
            display: flex;
            align-items: center;
            &_online,
            &_record{
                width: 200.25px;
                height: 37.5px;
                font-size: 15px;
                line-height: 18px;
            }
        }
        &__location{
            &_wrap{
                flex-direction: column;
            }
            &__adress{
                margin-top: 23px;
                column-count: 2;
                column-gap: 175px;
            }
        }
        &__nav{

            &__menu{
                height: 50px;
                flex-wrap: wrap;
                justify-content: center;
                &_item{
                    color: #000;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14px;
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
                
            }
        }

   }
}
@media (max-width:900px){
   .footer{
    &__header{
        padding-bottom: 20px;
    }
        &__logo{
            width: 45px;
            height: 45px;
            background: url('../icons/footer/logo_footer_small.png') center center/100% no-repeat; 
        }
        &__location{
            &__adress{
                column-gap: 111px;
                &_item{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 20px;
                }
            }
            &__map{
                width: 564px;
                height: 240.19px;
            }
        }
        &__social{
            &__menu{
                &_link{
                    width: 38.64px;
                    height: 38.64px;
                }
            }
        }
   }
}
@media (max-width:640px){

    .footer{
        &__logo{
            display: none;
        }
        &__header,
        &__location,
        &__nav{
            &_wrap{
                width: 70%;
                margin: 0 auto;
            }
        }
        &__nav{
            &__menu{
                height: 69px;

            }
        }
        &__logo{
            width: 30px;
            height: 30px;
        }
        &__btns{
            margin: 0 auto;
            &_online,
            &_record{
                width: 150px;
                height: 38px;
            }
        }
        &__header{
            &_wrap{

            }
        }
        &__location{
            &_wrap{
                align-items: flex-start;
            }
            &__adress{
                column-count: 1;
                text-align: left;
                column-gap: 0;
                &_item{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 20px;
                }
            }
            &__map{
                width: 100%;
                height: 178px;
                margin: 0 auto;
            }
        }
        &__social{
            &__menu{
                width: 70%;
                margin: 0 auto;
                &_item{
                    width: 27.6px;
                    height: 27.6px;
                    & img{
                        width: 100%;
                    }
                }
            }
        }
   }

}
@media (max-width:475px){
   .footer{
        // margin-top: 550px;
        // &__logo{
        //     background: none;
        // }
        // &__location{
        //     &__map{
        //         width: 282px;
        //         height: 178px;
        //     }
        // }
        &__nav{
            &__menu{
                height: 69px;
                &_item{
 
                    &:nth-child(4) {
                        margin-right: 0;
                    }
                }
                &_link{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                }
            }
        }
   }
}
@media (max-width:370px){
    .footer{
        &__logo{
            display: none;
        }
        &__btns{
            margin: 0 auto;
        }
    }

}